@import url('https://fonts.googleapis.com/css?family=Poppins');
$main-color: #42B549;

*{
    font-family: 'Poppins';
}

body{
    background-color: #EEF2F7;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 10% 35%;
    border-radius: 5px;
    background-color: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    div{
        align-self:center;
        margin: 10px;
        display: flex;
    }
}

.container-wishlist{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
    div{
        align-self:center;
        margin: 10px;
        display: flex;
    }
}

.btn{
    border: none;
    background-color: $main-color;
    color: white;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.btn2{
    border: none;
    background-color: white;
    border: 2px $main-color solid;
    color: $main-color;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: $main-color;
}
