#detail-transaction{
    display: flex;
    flex-direction: column;
}

.container2{
    display: flex;
    flex-direction: column;
    margin: 10% 35%;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
    div{
        align-self:center;
        margin: 10px;
        display: flex;
    }
}

#formTransaction{
    display: flex;
    justify-content: space-around;
}